/* app infrastructure */

.app-page {
  display: inline;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  align-items: center;
  min-height: 2em;
  text-align: center;
  display: flex;
  z-index: 900;
  color: red;
  background-color: white;
  box-shadow: 5px 5px 5px #694545fc;

  .app-title {
    margin-left: 8em;
    margin-right: 2em;
    text-align: center;
  }

  .page-title {
    margin-right: 2em;
    border-left: 2px solid red;
    padding: 2em;
    height: 10px;
  }
}

.panel {
  height: 725px;
  width: 720px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding-top: 125px;
  color: white;
  background-color: red;
  overflow-y: scroll;
  box-shadow: 5px 5px 5px #694545fc, -2px 5px 5px #694545fc;
}

.footer {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  align-items: center;
  min-height: 2em;
  display: flex;
  z-index: 900;
  color: red;
  background-color: white;
  box-shadow: 5px 0px 5px 5px #694545fc;

  .app-title {
    margin-left: 8em;
    margin-right: 2em;
    text-align: center;
  }

  .page-title {
    margin-right: 2em;
    border-left: 2px solid red;
    padding: 2em;
    height: 10px;
  }
}

/* page content  */

.message {
  color: red;
}
  
.login-form {
  font-size: 30px;
  line-height: 35px;
  width: 60%;
  display: inline-block;

  label {
    font-size: 20px;
  }
}

input {
  color: red;
  font-size: 20px;
  width: 250px;  
  height: 25px;  
  border: none;  
  border-radius: 3px;  
  padding-left: 8px;
}

button {
  color: red;
  width: 300px;  
  height: 30px;  
  border: none;  
  border-radius: 17px;  
  padding-left: 7px;
}
  